<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Files</title>
</head>

<body>
  <h1><%= user.username %>'s Files</h1>
  <a href="/">
    <h2>-- Project File Uploader --</h2>
  </a>

  <h2>Files</h2>
  <ul>
    <span>temp: list of files should be rendered here.</span>
  </ul>

  File Contents
  <span>temp: individual files should be rendered here.</span>
</body>

</html>