<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>My Files</title>
</head>

<body>
  <h1>User <%= user.username %>'s Files</h1>
  <a href="/">
    <h2>-- Project File Uploader --</h2>
  </a>

  <h2>All Folders</h2>
  <ul>
    <span>temp: list of Folders should be rendered here.</span>
  </ul>

  <h2>Folder Contents</h2>
  <span>temp: individual Folder contents should be rendered here.</span>
</body>

<h2>Temp/debug: content of user = </h2>
<span><%= JSON.stringify(user) %></span>

</html>